<div class="container-fluid new-article">
  <div class="row form-wrapper">

    <div class="col-md-7 image-wrapper">
    </div>

    <div class="col-md-5">
        <div class="single-form-wrapper">
          <h1 class="text-center mb-5">Create a new article</h1>
          <% if flash[:errors] %>
            <ul>
              <% flash[:errors].each do |error| %>
              <li class="error"> <%= error %> </li>
              <% end %>  
            </ul>
          <% end %>
          <%= form_for @article, multipart:true do |f| %>
            <div class="form-group">
              <%= f.label :image, 'Article Picture'%>  
              <%= f.file_field :image, id: 'image' %>
            </div>
            <div class="form-group">
              <%= f.label :title,'Title' %>
              <%= f.text_field :title, class: 'form-control',id: 'title' %>
            </div>
            <div class="form-group">
              <%= f.label :body,'Content' %>
              <%= f.text_area :body, class: 'form-control', size: '4x3', id: 'body' %>
            </div>
            <div class="form-group">
              <%= f.label :text,'Category' %>  <span>Select all that matches</span>
              <%= f.select :category_ids, Category.all.map{|x| [x.name,x.id]}, {}, multiple: true, class: 'form-control', id: 'categories' %>
            </div>
            <%= f.submit class:'form-control btn btn-primary'%>
          <% end %>
        </div>
    </div>
  </div>
</div>