<div class="container-fluid">
  <div class="row">
  <article class="col-sm-12 article featured-article hero-article">
      <span class="tl-cat">FEATURED ARTICLE</span>
      <img class="img-responsive" src="<%= image %>" alt=" image" />
      <div class="info">
        <h1 class="title"> <%= body %> </h1>
        <p class="description"><%= title %></p>
      </div>
    </article>
    <div class="voted-articles">
      <%if @categories%>
        <% 8.times do |i|%>
          <article class="featured-article article">
            <span class="tl-cat">FEATURED ARTICLE</span>
            <img class="img-responsive" src="" alt=" image" />
            <div class="info">
              <h4 class="title">
                Title
              </h4>
            </div>
          </article>
        <%end%>
      <%else%>
        <% @categ.each do |cat|%>
            <% la = cat.latest_articles.first %>
            <article class="featured-article article">
            <a href="<%=category_path(cat.id)%>" > 
              <span class="tl-cat"><%= cat.name%> </span>
              <img class="img-responsive" src="<%= la ? la.image_url : 'https://i.imgur.com/F5keC6d.jpg' %>" alt="first image" />
              <div class="info">
                <h4 class="title">
                  <%= la ? la.title : 'Be the first to write an article!'  %>
                </h4>
              </div>
              </a>
            </article>

        <%end%>
      <%end%>
    </div>
  </div>
</div>